# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
build/
dist/

# Virtual Environment
venv/
.venv/

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite

# Data and Pictures (if generated or temporary)
data/

